$primary: rgb(0, 81, 128);
$tertiary:  rgb(228, 238, 245);
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.container {
    color: $primary;
    width: 90%;
    // height: 100%;
    margin: 20px 20px 5px;
    padding-bottom: 5px;
    background-color: $tertiary;
    border-radius: 5px;
    box-shadow: 0px -2px 4px 0px rgba(204,204,204,1);
    // opacity: 90%;
}

.content {
    margin: 10px;
    margin-top: 50px;
    // height: 386px;
}

h1 {
    color: $primary;
    text-align: center;
}

ul {
    list-style-type: none;
}

.center-buttons {
    text-align: center;
}

#x {
    // height: 100%;
}

body {
    // background-image: url("/images/MPLSencampment.jpg");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // border: 2px solid red;
}

html {
    height: 100%;
}